.card {
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  background-color: #a3cfe2;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  // width: auto;
  min-height: 350px;
    @media (max-width: 768px) {
      min-height: 400px;
    }
  //height: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .card-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    // text-transform: uppercase;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }
  .card-top {
    position: absolute;
    top: 50px;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //align-items: center;

    padding-bottom: 10px;
    height: 290px; //90%; // 290px
    //margin: auto 0;
    padding: 0 10px;
    color: #0a475d;
    text-shadow: 0 0.5px 1px rgba(10,71,93,0.6);
    h2 {
      font-size: 24px;

      // font-size: 140%;
      // margin-bottom: 0;
    }
    p {
      font-size: 18px;

      // font-size: 90%;
    }
  }
}

