.footer {
  background: #333333;
  color: white;
  //max-height: 80px;
  padding: 20px 20px;
  margin-top: auto;
}

.footer .fa {
  font-size: 30px;
  padding: 0 10px;
}

.footer .fa:hover {
  color: $yellow;
}

.footer p {
  margin: 0;
}
