.show-container {
  color: #0a475d;
  h3 {
    font-size: 24px;
  }
}
.summary {
  h3 {
    margin-top: 10px;
  }
}
.container-paragraph {
   margin: 40px 0;
  h3 {
    margin-bottom: 20px;
  }
}
.warnings {
  p {
    margin-left: 20px;
  }
  .warnings-content {
    list-style: none;
  }
}
.img-circle {
  height: 300px;
  width: 300px;
}



