<div class="container text-center padded">


  <ul class="list-inline">

      <li>
        <%= image_tag "sibylle.jpg", class: "avatar-extra-large" %>
        <h3>C'est moi</h3>
      </li>

  </ul>
</div>


